<umb-editor-view footer="false" ng-controller="Clip.PackageView.Controller as $ctrl">
    <umb-editor-header name="'Content creation configuration'"
                       name-locked="true"
                       hide-icon="true"
                       hide-description="true"
                       hide-alias="true">
    </umb-editor-header>
    <umb-editor-container>
        <umb-box>
            <umb-box-header title="Current rules"></umb-box-header>
            <umb-box-content>
                <p>Configure content-creation permissions for individual user groups - permitted types must be a comma-separated list of content type aliases</p>
                <div class="umb-table" ng-if="$ctrl.config.length">
                    <div class="umb-table-head">
                        <div class="umb-table-row">
                            <div class="umb-table-cell">

                            </div>
                            <div class="umb-table-cell">
                                Name
                            </div>
                            <div class="umb-table-cell">
                                Permitted types
                            </div>
                            <div class="umb-table-cell">

                            </div>
                        </div>
                    </div>
                    <div class="umb-table-body">
                        <div ng-repeat="config in $ctrl.config track by $index" class="umb-table-row">
                            <div class="umb-table-cell">
                                <umb-icon icon="{{ config.icon }}" class="{{ config.icon }}"></umb-icon>
                            </div>
                            <div class="umb-table-cell">
                                {{ config.groupName }}
                            </div>
                            <div class="umb-table-cell">
                                <div>
                                    <umb-node-preview ng-repeat="type in $ctrl.contentTypeSyncModel[config.groupId]"
                                                      name="type.name"
                                                      icon="type.icon"
                                                      sortable="false"
                                                      allow-remove="true"
                                                      allow-edit="false"
                                                      on-remove="$ctrl.removeContentType(type, config.GroupId)">
                                    </umb-node-preview>
                                    <button type="button"
                                            class="umb-node-preview-add"
                                            ng-click="$ctrl.addContentType(config.groupId)">
                                        <localize key="general_add">Add</localize>
                                    </button>
                                </div>
                            </div>
                            <div class="umb-table-cell">
                                <button type="button" class="btn btn-reset" ng-click="$ctrl.remove($index)">
                                    <umb-icon icon="icon-trash" class="color-black"></umb-icon>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="mt3">
                    <button type="button" class="btn" ng-click="$ctrl.add()">Add rules</button>
                    <button type="button" class="btn btn-success" ng-click="$ctrl.save()">
                        Save
                    </button>
                </div>
            </umb-box-content>
        </umb-box>
    </umb-editor-container>
</umb-editor-view>